.article li {
  padding: 10px;
}

.mapLink {
  padding: 10px;
}

.mapImage {
  width: 100%;
}

//to centralise the article
.article {
  margin: auto;
}

iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: 580px) {
  .article {
    font-size: 18px;
    max-width: 580px;
  }
  iframe {
    height: 325px;
  }
}

@media (min-width: 400px) {
  iframe {
    height: 240px;
  }
}
